## Module 2: Data Structures

##Lists

In [1]:
my_list = [10, "Python", 3.14, "Hello"]
my_list.append("World")
print(my_list)

[10, 'Python', 3.14, 'Hello', 'World']

## List Operations

In [2]:
# Initializing a list
fruits = ["apple", "banana", "cherry"]

# Append operation
fruits.append("orange")
print(fruits)  # ['apple', 'banana', 'cherry', 'orange']

# Remove operation
fruits.remove("banana")
print(fruits)  # ['apple', 'cherry', 'orange']

# Insert operation
fruits.insert(1, "kiwi")
print(fruits)  # ['apple', 'kiwi', 'cherry', 'orange']

# Index operation
index_cherry = fruits.index("cherry")
print(index_cherry)  # 2

# Sort operation
fruits.sort()
print(fruits)  # ['apple', 'cherry', 'kiwi', 'orange']

['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
['apple', 'kiwi', 'cherry', 'orange']
2
['apple', 'cherry', 'kiwi', 'orange']

## Indexing and Slicing Lists

In [3]:
# Initializing a list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Indexing
first_element = numbers[0]       # 0
last_element = numbers[-1]      # 9

# Slicing
first_three = numbers[:3]       # [0, 1, 2]
even_numbers = numbers[::2]     # [0, 2, 4, 6, 8]
reverse_list = numbers[::-1]    # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Tuples

In [4]:
# Defining a tuple
planets = ("Mercury", "Venus", "Earth", "Mars")

## Tuple Operations

In [5]:
# Initializing a tuple
colors = ("red", "blue", "green", "red", "yellow")

# Indexing
first_color = colors[0]        # 'red'

# Slicing
primary_colors = colors[:2]    # ('red', 'blue')

# Count operation
red_count = colors.count("red")  # 2

# Length operation
total_colors = len(colors)      # 5

## Arrays

In [6]:
from array import array

# Initializing an array of integers ('i' typecode)
int_array = array('i', [1, 2, 3, 4, 5])

# Accessing and modifying elements
int_array[2] = 6

## Array Operations

In [7]:
from array import array

# Initializing an array of integers
numbers = array('i', [1, 2, 3, 4, 5])

# Append operation
numbers.append(6)

# Extend operation
numbers.extend([7, 8])

# Pop operation
numbers.pop()

# Index operation
index_four = numbers.index(4)

# Count operation
count_threes = numbers.count(3)

# Reverse operation
numbers.reverse()

##Dictionaries

In [8]:
# Initializing a dictionary
person = {
    "name": "John Doe",
    "age": 30,
    "is_student": False
}

# Accessing values using keys
person_name = person["name"]

## Dictionary Operations

In [9]:
# Initializing a dictionary
book = {
    "title": "1984",
    "author": "George Orwell",
    "year": 1949
}

# Add/Update entry
book["publisher"] = "Penguin Books"
book["year"] = 1950

# Remove entry
del book["year"]

# Get value
author_name = book.get("author")

# List keys and values
all_keys = book.keys()
all_values = book.values()

# Check key existence
has_title = "title" in book

## Sets

In [10]:
# Creating a set
fruits = {"apple", "banana", "cherry"}

# Adding an element
fruits.add("orange")

# Removing an element
fruits.remove("banana")

# Union and Intersection
other_fruits = {"grape", "apple"}
combined = fruits | other_fruits
common = fruits & other_fruits

## Set Operations

In [11]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# Union
union_set = A | B

# Intersection
intersection_set = A & B

# Difference
difference_set = A - B

# Symmetric Difference
symmetric_diff = A ^ B

# Subset and Superset Check
is_subset = A.issubset(B)
is_superset = A.issuperset(B)

Code Block #1 -- Insert Function

In [12]:
numbers = [10,20,30,40,50]
squared = [num**2 for num in numbers if num > 25]
numbers.insert(2, 25)

print("numbers:", numbers)
print("squared:", squared)

numbers: [10, 20, 25, 30, 40, 50]
squared: [900, 1600, 2500]

In [13]:
# Code Block #2 -- Slicing

In [14]:
data = (10, "apple", 2.5)
num, fruit, value = data 
reversed_data = data[::-1]

print("original data:", data)
print("unpacked values:", num, fruit, value)
print("reversed data:", reversed_data)

orginal data: (10, 'apple', 2.5)
unpacked values: 10 apple 2.5
reversed data: (2.5, 'apple', 10)

In [15]:
# Code Block #3 -- Add New Entry and Use Pop

In [16]:
person = {"name": "John", "age": 30, "city": "New York"}
person ["skills"] = ["Python", "SQL"]
age = person.pop("age")
items = person.items()

print("updated person dictionary:", person)
print("popped age:", age)
print("dictionary items:", items)

updated person dictionary: {'name': 'John', 'city': 'New York', 'skills': ['Python', 'SQL']}
poppped age: 30
dictionary items: dict_items([('name', 'John'), ('city', 'New York'), ('skills', ['Python', 'SQL'])])

In [17]:
# Code Block #4 -- Set operations

In [18]:
fruits = {"apple", "banana", "cherry"}
berries = {"strawberry", "blueberry", "cherry"}
unique_fruits = fruits - berries 
combined = fruits.union(berries)

print("unique fruits:", unique_fruits)
print("combined sets:", combined)

unique fruits: {'apple', 'banana'}
combined sets: {'apple', 'blueberry', 'strawberry', 'cherry', 'banana'}

## Submission Reflection

**Steps I took**

- Opened the Module 2 notebook and ran each code cell to understand how lists, tuples, dictionaries, and sets work.
- Added/used print statements to verify outputs as I created new variables and modified data structures.
- Added the required Code Blocks #1â€“#4 and ran each one after writing it.

**Rationale / purpose of my changes**

- **Code Block #1 (Insert + list comprehension):** Created `squared` using a list comprehension to square values greater than 25, then used `numbers.insert(2, 25)` to insert 25 into the 3rd position (index 2) of the original list.
- **Code Block #2 (Slicing):** Unpacked the tuple into variables and used slicing `data[::-1]` to reverse the tuple.
- **Code Block #3 (Dictionary add + pop):** Added a new `skills` key, removed `age` using `pop()` (which returns the removed value), and stored key-value pairs using `.items()`.
- **Code Block #4 (Set operations):** Used set difference to find elements in `fruits` not in `berries`, and union to combine both sets without duplicates.

**Challenges / insights**

- A key detail was remembering Python uses **0-based indexing**, so the 3rd position is index 2.
- Slicing with `[::-1]` is a quick way to reverse a sequence.
- Set operations are useful because sets automatically keep only unique values.